%table#users-table
  - @users.each do |u|
    %tr
      %td
        = render 'shared/user_panel', user: u, show: [:first_name, :username, :last_name]
      %td
        .money{ class: u.money <= 0 ? 'negative' : '' }= u.money
      - if current_user.super_admin?
        %td
          = link_to 'Put money', edit_user_path(u)
