%table
  - @users.each do |u|
    %tr
      %td
        - name = ''
        - name << u.first_name || ''
        - name << ' @' + u.username if u.username
        - name << ' ' + u.last_name if u.last_name
        = name
      %td
        = u.money.to_s
