- unless current_user.current_shisha
  = link_to 'Set up a new shisha!', new_shisha_path, class: 'button create-shisha-button'
.shisha-list
  - @user_shsihas.each do |s|
    = render 'shared/shisha_panel', shisha: s
