- if @current_shisha
  smoking now
- else
  = link_to 'Set up a new shisha!', new_shisha_path, class: 'create-shisha-button'
%table#shisha-table
  %tbody
  - @user_shsihas.each do |s|
    %tr
      %td= s.users.map(&:first_name).to_sentence
